<div th:fragment="modal(purchaseInfo, purchase)" class="modal modal-blur fade" id="purchase-modal" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-status bg-warning"></div>
            <div class="modal-body text-center py-4">
                <!-- Download SVG icon from http://tabler-icons.io/i/alert-triangle -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24"
                     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                     stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M10.24 3.957l-8.422 14.06a1.989 1.989 0 0 0 1.7 2.983h16.845a1.989 1.989 0 0 0 1.7 -2.983l-8.423 -14.06a1.989 1.989 0 0 0 -3.4 0z"></path>
                    <path d="M12 9v4"></path>
                    <path d="M12 17h.01"></path>
                </svg>
                <h3>Are you sure?</h3>
                <div class="text-muted">Do you really want to purchase <span th:text="${purchase.cartSize}"></span>
                    products?
                </div>
                <div th:object="${purchaseInfo}">
                    <table>
                        <tr>
                            <td>Total Price</td>
                            <td> : </td>
                            <td th:text="*{totalPrice}"></td>
                        </tr>
                        <tr>
                            <td>Shippers</td>
                            <td> : </td>
                            <td>
                                <div th:each="shipper : *{shippers}">
                                    <span th:text="${shipper.name}"></span>
                                    <span th:text="${shipper.price}"></span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="w-100">
                    <div class="row">
                        <div class="col"><a href="#" class="btn w-100" data-bs-dismiss="modal">
                            Cancel
                        </a></div>
                        <div class="col">
                            <form class="purchase-form" th:action="@{/cart}" method="post">
                                <label hidden></label>
                                <input type="hidden">
                                <button type="submit"  class="btn btn-success w-100" data-bs-dismiss="modal">
                                    Purchase
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>